/* Reset default margins and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a background color and set text color */
body {
    background-color: #00CC00; /* Lime green background color */
    font-family: Arial, sans-serif;
}

/* Style the header section */
header {
    background-color: #FFD100; /* Yellow color for the header */
    text-align: center;
    padding: 20px;
    position: relative;
    height: 100px;
}

/* Style the navigation menu */
nav {
    background-color: #7928A1; /* Purple color for the navigation menu */
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    position: relative;
    transition: all 0.3s;
}

nav a:hover {
    transform: scale(1.1);
    color: #FFD100; /* Change color on hover to match the header */
}

/* Add a bottom border to the navigation links */
nav a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFD100; /* Yellow color for the underline */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
}

nav a:hover::after {
    transform: scaleX(1);
}

/* Style the main sections */
section {
    background-color: #FFF;
    padding: 20px;
    margin: 20px;
    border: 2px solid #55D6AA; /* Lime green border around sections */
    border-radius: 10px;
}

.logo {
    width: 100px;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Style the buttons */
.btn {
    display: inline-block;
    background-color: #7928A1; /* Purple color for buttons */
    color: #FFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #55D6AA; /* Lime green color for buttons on hover */
}

.centered {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

#message {
    height: 150px;
}

/* Style the footer */
footer {
    background-color: #7928A1; /* Purple color for the footer */
    text-align: center;
    padding: 10px;
    color: #FFF;
}

/* Adjust the header and section headings */
h1, h2 {
    color: #7928A1; /* Purple color for headings */
}

/* Add some margin between the main sections */
section + section {
    margin-top: 20px;
}
